@import url(./base.css);
/*header*/
html{
	font-size:62.5%;
}
.header{
	margin: 40px auto 0 auto;
	background-color: #fff;
	z-index: 100;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.columns{
	width: 460px;
	margin: 0 10px;
	float: left;
}
.logo{
	margin-top: 25px;
	float:left;
}
.widget{
	width: 100%;
	float:right;
}
.widget p{
	float:right;
	margin-left: 20px;
	margin-bottom: .5em;
	display: inline-block;
	font-family: 'Open Sans', Arial;
	line-height: 1.7em;
	font: 12px/1.5 Arial;
	color:#828282;
	position:relative;
}
.only p::before{
	content:"";
	display: block;
	position: absolute;
	top:0;
	left: -24px;
	width: 22px;
	height: 16px;
	background: url(../images/iphone.png);
}
.widget p span{
	color:#383838;
	font-family: 'Open Sans', Arial;
	font: 12px/1.5 Arial;
}
.social-icons{
	float:right;
}
.social-icons li,.small li{
	float:left;
	display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
    vertical-align: top;
    background-color: #d4d4d4;
}
.social-icons li a,.small li a{
	display: block;
	width: 31px;
	height: 31px;
	background: red;
}
.sixteen.columns{
	width:940px;
}
.menu-container{
	margin-top: 20px;
	border-top:1px solid #ebebeb;
}
.jiaxian{
	border-bottom:1px solid #ebebeb;
}
.menu-container>ul{
	float: left;
}
.menu-container>ul>li{
	float: left;
	border-left:1px solid #ebebeb;
	position: relative;
	transition: all 0.2s linear;
}
.menu-container>ul>li:nth-of-type(1){
	background-color: #79be0b;
}
.menu-container>ul>li:nth-child(1) a{
	color:#fff;
}
.menu-container>ul>li:hover{
	background-color: #79be0b;
	color:#fff;
}
.menu-container>ul>li:hover a{
	color:#fff;
}
.menu-container>ul>li>a{
	text-transform: uppercase;
	display: inline-block;
	margin: 10px 20px 10px;
	font-size: 12px;
	color: #1e1e1e;
	font-family: 'Open Sans', Arial;
}
.xiala{
	position: absolute;
	left:0;
	top:33px;
    z-index: 9999;
    display: none;
    margin-top: 1px;
    width: 180px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025);
    -moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025);
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.025);
    opacity: 1;
}
.menu-container>ul>li:hover .xiala{
    display: block;
}
.menu-container>ul>li .xiala a{
	display: block;
    padding: 6px 20px;
    color: #818181;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', Arial;
}
.menu-container>ul>li .xiala a:hover{
	color:#79BE0B;
	background-color: rgb(246, 246, 246);
}
.suosuo{
	float:right;
	width: 34px;
    height: 34px;
    color: #b2b2b2;
    content: "\f002";
    font-size: 14px;
    font-family: "FontAwesome";
    line-height: 34px;
    text-align: center;
	border-left:1px solid #ebebeb;
	overflow: hidden;
}
.containerx{
	width: 400px;
	margin: 0 auto;
}
.logo{
	width: 380px;
	text-align: left;
}
.widget2{
	width: 380x;
	padding-bottom:10px;
	text-align: center;
}
.widget2 p{
	margin-left: 20px;
	margin-bottom: .5em;
	display: inline-block;
	font-family: 'Open Sans', Arial;
	line-height: 1.7em;
	font: 12px/1.5 Arial;
	color:#828282;
	position: relative;
}
.widget2 p::before{
	content:"";
	display: block;
	position: absolute;
	top:0;
	left: -24px;
	width: 22px;
	height: 16px;
	background: url(../images/iphone.png);
}
.widget2 p span{
	color:#383838;
	font-family: 'Open Sans', Arial;
	font: 12px/1.5 Arial;
}
.small{
	width: 380px;
	height: 33px;
}
.small>ul{
	display: block;
	margin-left: 100px;
}
.slect{
	width:380px;
	margin: 0 auto;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding:6px 8px 7px;
	margin-bottom: 25px;
	margin-top: 20px;
	color: #9e9e9e;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.suosuo2{
	width: 34px;
    height: 34px;
    color: #b2b2b2;
    content: "\f002";
    font-size: 14px;
    font-family: "FontAwesome";
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    background: red;
}
/*header*/
.clear{
	clear: both;
}
/*banner*/
.banner{
	margin: 20px auto 45px auto;
    height: 400px;
    background-color: rgb(246, 246, 246);
    position: relative;
    overflow: hidden;
}
.ls-nav{
	display: block;
	width: 32px;
    height: 56px;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    right:0;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: all .25s linear ;
    z-index: 1000;
    display: none;
}
.ls-nav-prev{
	left:0;
}
.ls-nav-next{
	right:0;
}
.ls-nav:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
.ls-s2{
	display: block;
	margin: 0 auto;
	width: 100%;
}
.cloud1{
	position: absolute;
	top:8%;
	left:100%;
	width: 37.1%;
	z-index: 1;
	
}
.cloud2{
	position: absolute;
	top:-5%;
	left:100%;
	width: 29.1%;
	z-index: 2;
	
}
.plane2{
	position: absolute;
	top:7%;
    left: 100%;
    width: 28.8%;
	z-index: 1;
	
}
.plane1{
	position: absolute;
	top: 25%;
    left:100%;
    width: 44.7%;
	z-index: 3;
	
}
.banner h1{
	position: absolute;
	top: 100%;
    left: 18%;
    width: auto;
    height: auto;
    font-size: 3.3rem;
    line-height: 3.3rem;
    border-width: 0px;
    opacity: 1;
    transform: rotate(0deg) scale(1, 1);
    display: block;
    visibility: visible;
    z-index: 4;
    font-family: "Open Sans", "微软雅黑";
    
}
.banner h2{
	position: absolute;
	background-color: #79BE0B;
    top: 100%;
    left: 18%;
    width: auto;
    height: auto;
    font-size: 1.8rem;
    line-height: 1.8rem;
    padding: 0.3rem 1.0rem;
    border-width: 0px;
    opacity: 1;
    transform: rotate(0deg) scale(1, 1);
    color:#fff;
    display: block;
    visibility: visible;
    z-index: 4;
    font-family: "Open Sans", "微软雅黑";
    
}
.banner h2:nth-of-type(2){
	top: 100%;
    left: 18%;
   
}
.lunbopc{
	position: absolute;
	top:100%;
	left:13%;
	width: 50%;
	z-index: 0;
	
}
.lunbo2goodne{
	position: absolute;
	top:30%;
	left:27%;
	width: 14%;
	z-index: 1;
	opacity: 0;
}
.lunbo2h4{
	position: absolute;
	top:50%;
	left:27%;
	z-index: 1;
	opacity: 0;
	
	font-size: 1.6rem;
	display: block;
	line-height: 1.8rem;
	font-family: "Open Sans", "微软雅黑";
	text-transform: uppercase;
    color: #b2b2b2;
}
.linbo2x{
	position: absolute;
	top:25%;
	left:42%;
	z-index: 1;
	opacity: 0;
	
}
.banner .linbo2h21{
	position: absolute;
	top:32%;
	left:100%;
	z-index: 4;
	
}
.banner .linbo2h22{
	position: absolute;
	top:40%;
	left:100%;
	z-index: 4;
	
}
.banner .linbo2h1{
	position: absolute;
	top:100%;
	left:64%;
	z-index: 4;
	
}
/*banner*/
/*slogan*/

.slogan {
	width: 100%;
    display: block;
    margin: 0 10px 45px 10px;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.25;
    zoom: 1;
    color: #373737;
    font-size: 24px;
}
.container .four.columns{
	width: 220px;
}
.detail-box{
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 0 25px 20px;
	border: 1px solid #EBEBEB;
	transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}
.shanghua{
	position: absolute;
	left:0;
	top:100%;
	width: 100%;
	height: 100%;
	background-color: #79be0b;
	transition: all .2s linear;
	z-index: -1;
}
.detail-box:hover .shanghua{
	top:0;
}
.detail-box:hover .detail-entry h5{
	color: #fff;
}
.detail-box:hover .detail-entry p{
	color: #fff;
}
.detail-icon{
	display: block;
	width: 45px;
	height: 45px;
	margin: 40px auto 30px;
	background-image: url(../images/icons.png);
	background-repeat:no-repeat
}
.icons1{
	background-position: 0 0;
}
.detail-box:hover .icons1{
	background-position: 0 -45px;
}
.icons2{
	background-position: -45px 0;
}
.detail-box:hover .icons2{
	background-position: -45px -45px;
}
.icons3{
	background-position: -90px 0;
}
.detail-box:hover .icons3{
	background-position: -90px -45px;
}
.icons4{
	background-position: -135px 0;
}
.detail-box:hover .icons4{
	background-position: -135px -45px;
}
.detail-entry h5{
	margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
.detail-entry p{
	margin: 0 0 1.2em;
    padding: 0;
    line-height: 1.7em;
    color: #828282;
    font: 12px/1.5 Arial;
}
/*slogan*/
/*divider-solid*/
.divider-solid{
	margin: 40px 10px;
	height: 2px;
	background-color: #ebebeb;
}
/*divider-solid*/
/*lunbo*/

.jcarousel-container{
	margin-bottom: 45px;
	overflow: hidden;
}
.content-title{
    margin: 0 10px 20px 10px;
    font-family: "Open Sans";
    color: #505050;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}
.jcarousel-next{
	position: absolute;
    top: 5px;
    right: 10px;
    overflow: hidden;
    width: 21px;
    height: 21px;
    background-color: #373737;
    cursor: pointer;
    background-image: url(../images/small-arrows.png);
    background-repeat: no-repeat;
    background-position: -21px 0;
    transition: all .2s linear;
}
.jcarousel-prev{
	position: absolute;
    top: 5px;
    right: 33px;
    overflow: hidden;
    width: 21px;
    height: 21px;
    background-color: #373737;
    cursor: pointer;
    background-image: url(../images/small-arrows.png);
    background-repeat: no-repeat;
    transition: all .2s linear;
}
.jcarousel:hover{
	 background-color:#79be0b ;
}
.lunbobox{
	position: relative;
	width: 1200px;
	overflow: hidden;
}
.bwWrapper{
	display: block;
	overflow: hidden;
	position: relative;
}
.bwWrapper img{
	width: 220px;
    height: 153px;
    -webkit-filter: grayscale(100%);
    transition: all 0.2s linear;
}
.bwWrapper img:hover{
    -webkit-filter: grayscale(0%);
}
.jiahao{
	position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 50%;
    margin: 0 0 -12px -12px;
    display: block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    text-align: center;
    opacity: 0;
    z-index: 1000;
    background-color: #79be0b;
    transition: all .35s ease-in;
    transform: scale(0);
}
.columns:hover .jiahao{
	opacity: 1;
	bottom: 80px;
	transform: scale(1);
}
.jiahao::after{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 24px;
	height: 24px;
	text-align: center;
	background-image: url(../images/plus-icon.png);
}
.project-meta{
	margin-bottom: 20px;
	padding: 20px 0;
	display: block;
	border-bottom: 1px solid #ebebeb;
	transition: all 0.2s linear;
}
.columns:hover .project-meta{
	border-bottom: 1px solid #79be0b;
}
.project-meta .title{
	margin-bottom: 5px;
    color: #383838;
    font-weight: 700;
    font-size: 12px;
    font-family: "Arial";
    text-align: center;
}
.project-meta .categories{
	display: block;
	color: #828282;
    text-align: center;
	font:12px/1.5 Arial;
}
/*lunbo*/
/*two-thirds columns*/
.container .two-thirds.columns{
	width: 620px;
	overflow: hidden;
	float: left;
}
.content-title{
	margin-bottom: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
    color: #505050;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.15;
    text-align: left;
}
.xuan{
	width: 100%;
	display: block;
	height: auto;
	z-index: 100;
}
.xuan::after{
	content: "";
	display: block;
	clear:both;
}
.xuan li{
	position: relative;
	float: left;
	height:34px;
	background: #fafafa;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}
.xuan li:nth-child(3){
	border-right: 1px solid #ebebeb;
}
.threex.first{
	border-top: 1px solid #79be0b;
	border-right: 1px solid #fff;
}
.threex.first a{
	color: #828282;
	background:#fff;
}
.xuan li a{
	display: inline-block;
    padding: 10px 16px;
    outline: none;
    color: #828282;
    vertical-align: baseline;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
}
.container .one-third.column{
	width: 300px;
	float: left;
	overflow: hidden;
}
.quote-box{
    position: relative;
    margin-bottom: 5px;
    padding: 20px 15px;
    padding-bottom: 20px ;
    border: 1px solid #ebebeb;
    background: #fff;
    margin: 0 0 1.2em;
    line-height: 1.7em;
    font: 12px/1.5 Arial;
    color: #828282;
    text-align: left;
}
.quote-box::after{
	content: "";
	position: absolute;
    z-index: 99;
    bottom: -31px;
    left: 45px;
    display: block;
    width: 31px;
    height: 31px;
    background-image: url(../images/quote-arrow.png);
}
.quote-author{
	display: block;
    margin-left: 85px;
    padding-bottom: 10px;
    color:#79be0b;
    font-size: 11px;
    font-family: 'Open Sans', Arial, sans-serif;
}
.quote-author b{
    color: #383838;
}
.xuanbox{
	width: 100%;
	border: 1px solid #ebebeb;
	margin: 0 0 20px;
}
.display{
	display: block;
}
.none{
	display: none;
}
.two-thirds.columns.xuan{
	overflow: visible;
}
.tab-content{
	padding:20px 20px 10px;
}
.tab-content h3{
    margin-bottom: 15px;
    color: #373737;
    font-family: "Open Sans";
    line-height: 1.15;
    font: 12px/1.5 Arial;
    text-align: left;
    font-size: 20px;
}
.tab-content p{
    margin: 0 0 1.2em;
    padding: 0;
    line-height: 1.7em;
    font: 12px/1.5 Arial;
   color:#828282;
    text-align: left;
}
/*two-thirds columns*/
.clients-items{
	padding: 15px 0;
	margin-bottom: 90px;
	overflow: hidden;
}
.clients-items li{
	float:left;
	width: 20%;
	box-sizing: border-box;
}
.clients-items li a{
	display: block;
}
.clients-items li a img{
	-webkit-filter: grayscale(100%);
}
.clients-items li:hover a img{
	-webkit-filter: grayscale(0%);
}
/*footer*/
.footer{
	background-color: #373737;
    padding: 35px 0 40px;
    color: #969696;
    overflow: hidden;
}  
.footer .widget{
	margin-bottom: 45px;
}
.footer .widget-title {
    color: #ebebeb;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: "Open Sans";
    line-height: 1.15;
    font-family: 'Open Sans', Arial, sans-serif;
    text-align: left;
}
.widget p{
	margin: 0 0 1.2em;
    padding: 0;
    line-height: 1.7em;
    font: 12px/1.5 Arial;
    text-align: left;
    
}
.widget li{
	border-top:1px solid #464545;
	padding: 6px 0 6px 15px;
}
.widget li:nth-child(1){
	border: none;
}
.widget li a{
	color: #969696;
    padding: 0;
    line-height: 1.7em;
    font: 12px/1.5 Arial;
    display: block;
}
.widget li span{
	font: 12px/1.5 Arial;
	 display: block;
    font-size: 11px;
    font-style: italic;
    color: #b2b2b2;
}
.widget li a:hover{
	color: #79be0b;
}
.tagcloud a{
	display: block;
	float: left;
	background-color: #676767;
    color: #d4d4d4;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 5px;
    font-size: 12px;
    font: 12px/1.5 Arial;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}
.tagcloud a:hover{
	background-color: #d4d4d4;
	color: #000;
}
.widget.clearfix li{
	padding: 0;
}
.adjective{
	margin: 0 auto;
	padding-top:25px;
	font-size: 11px;
	border-top:1px solid #4a4a4a;
}
.sixteen.columns{
	margin: 0 auto;
}
.copyright{
	float: left;
	font: 12px/1.5 Arial;
    font-size: 11px;
    font-style: italic;
    color: #b2b2b2;
}
.copyright a{
	font: 12px/1.5 Arial;
    font-size: 11px;
    font-style: italic;
    color: #b2b2b2;
}
.copyright a:hover{
		color:#79be0b ;
}
.developed a:hover{
		color:#79be0b ;
}
.developed a{
	float: right;
	font: 12px/1.5 Arial;
	 display: block;
    font-size: 11px;
    font-style: italic;
    color: #b2b2b2;
}
.developed{
	font: 12px/1.5 Arial;
    font-size: 11px;
    font-style: italic;
    color: #b2b2b2;
}
.social-icons.left{
	float: left;
}
/*footer*/
    /*fanhui*/
.fanhui{
	position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 33px;
    height: 33px;
    background-color: #918F89;
    text-align: center;
    transition: all 0.5s linear;
    background-image: url(../images/back-to-top.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    cursor: pointer;
}
.fanhui:hover{
	background-color: #79be0b;
}
/*fixedhead*/
.fixedhead{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	padding: 18px 0;
    background-color: rgba(255,255,255,.95);
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    display: none;
    z-index: 1000;
}
#logo{
	float: left;
	margin-left:20px;
}
.fixmune{
	float:right;
}
.fixmune li{
	float: left;
    border-left: 1px solid #ebebeb;
    position: relative;
    transition: all 0.2s linear;
}
.fixmune li a{
	text-transform: uppercase;
    display: inline-block;
    margin: 9px 10px 8px;
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Open Sans', Arial;
}
.fixmune li:nth-child(1){
	border: none;
	background-color: #79be0b;
}
.fixmune li:hover{
	background-color: #79be0b;
}
.fixmune li:nth-child(1) a{
	color: #fff;
}
.fixmune li:hover a{
	color: #fff;
}
.fixmune li:hover .xiala{
	display: block;
}
.fixmune>ul>li:hover .xiala{
    display: block;
}
.fixmune>ul>li .xiala a{
	display: block;
    padding: 6px 20px;
    color: #818181;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', Arial;
}
.fixmune>ul>li .xiala a:hover{
	color:#79BE0B;
	background-color: rgb(246, 246, 246);
}
.fixmune>ul>li .xiala a{
	display: block;
    padding: 6px 20px;
    color: #818181;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', Arial;
}
/*fixedhead*/
@media screen and (min-width: 959px) {
	.container{
		width: 960px;
		margin: 0 auto;
	}
	.columns{
	width: 460px;
	}
	.logo{
		margin-top: 25px;
	}
	.fixmune>ul>li>a{
		margin-left:10px;
		margin-right: 10px;
	}
	.containerx{
		display: none;
	}
	.container .four.columns{
	width: 220px;
     }
     .lunbobox{
     	width: 1200px;
     }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
	.container{
		width: 768px;
	}
	.columns{
		width: 364px;
	}
	.logo{
		margin-top: 25px;
	}
	.menu-container>ul>li>a{
		margin-left:10px;
		margin-right: 10px;
	}
	.fixmune>ul>li>a{
		margin-left:10px;
		margin-right: 10px;
	}
	.sixteen.columns{
		width: 748px;
	}
	.containerx{
		display: none;
	}
	.container .four.columns{
	width: 172px;
     }
     .fixmune{
     	width: 535px;
     }
     .bwWrapper img{
     	width: 172px;
        height: 120px;
     }
     .lunbobox{
     	width: 960px;
     }
     .container .two-thirds.columns {
    width: 492px;
    }
    .container .one-third.column {
    width: 236px;
    }
}
@media only screen and (max-width: 767px) {
	.container{
		display: none;
	}
	.container.slogan{
		width: 400px;
		display: block;
		margin: 0 auto;
	}
	.container.footer{
		width: 400px;
		display: block;
		margin: 0 auto;
	}
	.logo{
	text-align: center;
	margin: 0 auto 20px auto;
    }
	.container .four.columns{
	width: 380px;
     }
     .clients-items li{
	float:left;
	width: 50%;
    }
    .bwWrapper img{
     	width: 380px;
        height: 264px;
     }
     .lunbobox{
     	width: 2000px;
     }
     .fixedhead{
     	display:none ;
     }
     .social-icons{
     	float: left;
     }
      .container .two-thirds.columns {
    width: 380px;
    }
    .container .one-third.column {
    width: 380px;
    }
}
